.contact
    padding 150px 20px
    background: $color.black
    +below($bp.md)
        padding 70px 20px
    h2
        color: $color.primary-three
    h3
        font-size 22px
        font-family: $font-family.secondary
        color: $color.blue
        text-align center
        text-transform uppercase
        margin-bottom 5px
    .info
        font-family: $font-family.secondary
        display block
        text-align center
        font-size 16px
        color: $color.white
        margin-bottom 20px
    .copyright
        width 401px
        max-width 95%
        display flex
        margin: 70px auto 0
        align-items: center
        +below($bp.sm)
            flex-direction column
            align-items: center
        img 
            height 50px
            margin-right 5px
            +below($bp.lg)
                margin: 0 0 20px 0
        h4
            font-family: $font-family.secondary
            font-size 16px
            color: $color.white
            text-transform uppercase
            +below($bp.lg)
                text-align center
        span
            font-size 16px
            color: $color.white
            letter-spacing: 5px
            +below($bp.lg)
                display block
                text-align center
    .links
        a
            &:hover
                background: $color.primary-three !important