.history
    padding 100px 0 180px
    background: $color.gray
    position relative
    +below($bp.lg)
         padding 70px 0 100px
    .grid
        display: flex
        flex-wrap: wrap
        +below($bp.xl)
            flex-direction column-reverse
        .left
            width 400px
            +below($bp.xl)
                width 100%
                display flex
            +below($bp.md)
                flex-direction column
        .right
            width 800px 
            +below($bp.xl)
                width 100%
    .small
        width: 100%
        height: 400px
        +below($bp.md)
            height 300px
    .big
        width 100%
        height 400px
        +below($bp.lg)
            height auto
    .image-1
        background: url(../img/history-1.jpg) center no-repeat
        background-size cover
        +below($bp.md)
            background-position top center
    .image-2
        background: url(../img/history-2.jpg) center no-repeat
        background-size cover
        padding 70px
        display flex
        align-items: flex-end
        flex-direction column
        +below($bp.md)
            padding 50px 20px
        h3
            font-size 35px
            color: $color.primary-two
            text-align right
            text-transform: uppercase
            max-width 70%
            font-family: $font-family.secondary
            margin-bottom 40px
            line-height 1.3
            &:first-line
                color: $color.white
            +below($bp.md)
                max-width 100%
                text-align center
                font-size 25px
    .image-3
        background: url(../img/history-3.jpg) center no-repeat
        background-size cover
        +below($bp.md)
            background-position top center
    .text
        background: $color.black
        display flex
        flex-direction column
        justify-content: center
        padding 50px 70px 50px 90px
        +below($bp.md)
            padding 50px 20px
        p
            color: $color.white
            font-size 18px
            text-align right
            &:not(:last-child)
                margin-bottom 15px
            +below($bp.md)
                text-align center